.form {
  display: flex;
  flex-direction: row;
  background-color: #d31a1a;
  padding: 50px 20px;
  border-radius: 12px;
  width: 600px;
  gap: 10px;
  align-items: center;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  position: relative;
}

.label {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: white;
  margin-bottom: 8px;
}

.input {
  height: 34px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #d31a1a;
}

.error {
  text-transform: uppercase;
  color: darkorange;
  font-size: 22px;
  position: absolute;
  font-weight: 500;
  top: 80px;
}

.btn {
  color: white;
  background-color: darkorange;
  text-transform: uppercase;
  font-weight: 700;
  height: 50px;
}
